@font-face {
    font-family: 'RivieraNights';
    src: url('RivieraNights-Light-WebTrial.woff') format('woff'),
        url('RivieraNights-Light-WebTrial.woff') format('woff');
    font-weight: light;
    font-style: light;
}

@font-face {
    font-family: 'RivieraNights';
    src: url('RivieraNights-Bold-WebTrial.woff') format('woff'),
        url('RivieraNights-Bold-WebTrial.woff') format('woff');
    font-weight: bold;
    font-style: bold;
}

@font-face {
    font-family: 'RivieraNights';
    src: url('RivieraNights-Regular-WebTrial.woff') format('woff'),
        url('RivieraNights-Regular-WebTrial.woff') format('woff');
    font-weight: regular;
    font-style: regular;
}
