@font-face {
    font-family: 'RivieraNights';
    src: url('RivieraNightsTrial-Ultralight.otf') format('otf'),
        url('RivieraNightsTrial-Ultralight.otf') format('otf');
    font-weight: light;
    font-style: normal;
}
